<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Generic tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VIXILE Studios | Blog</title>
  <link rel="icon" type="image/x-icon" href="https://vixilestudios.github.io/favicon.ico" sizes="63x147">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/blog/stylesheet.css">
  <link rel="stylesheet" href="https://vixilestudios.github.io/stylesheet.css">

  <!-- Open Graph tags -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 20 }}">
  <meta property="og:image" content="{{ site.baseurl }}/blog/{{ page.image }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="article">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar">
    <div class="logo">
      <a href="https://vixilestudios.github.io/">
        <img src="https://vixilestudios.github.io/assets/images/logo.jpg" alt="Logo">
      </a>
    </div>
    <div class="links">
      <a href="https://vixilestudios.github.io/blog">Blog</a>
      <div style="min-width: 6rem;"></div>
    </div>
  </nav>

  <main class="page-content wrapper" aria-label="Content">
    <div style="height: 3rem;"></div>
    <section class="content-container">
      <div class="content-wrapper">
        {{ content }}
      </div>
    </section>
  </main>
  <p>{{ page.excerpt | strip_html | truncatewords: 20 }}</p>
  <footer class="footer">
    <p>© 2025 VIXILE Studios Team.
      <span class="sep"></span>
      <a href="https://vixilestudios.github.io/">Home</a>
      <span class="sep"></span>
      <a href="https://vixilestudios.github.io/blog">Blog</a>
      <span class="sep"></span>
      <a href="https://github.com/vixilestudios">GitHub</a>
      <span class="sep"></span>
      <a href="https://vixilestudios.github.io/terms.html">Terms of Service</a>
    </p>
  </footer>
</body>
</html>
