<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VIXILE Studios | Blog</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheet.css">
  <link rel="stylesheet" href="https://vixilestudios.github.io/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="https://vixilestudios.github.io/favicon.ico" sizes="63x147">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar">
    <div class="logo">
      <a href="https://vixilestudios.github.io/">
        <img src="https://vixilestudios.github.io/assets/images/logo.jpg" alt="Logo">
      </a>
    </div>
    <div class="links">
      <a href="https://vixilestudios.github.io/blog">Blog</a>
      <div style="min-width: 6rem;"></div>
    </div>
  </nav>

  <!-- Banner Image -->
  <div style="height: 3.5rem;"></div>
  <div class="outer-image">
    <img src="{{ site.baseurl }}/assets/images/outer.png" alt="Banner">
    <div class="inner-image">
      <img src="{{ site.baseurl }}/assets/images/inner.png" alt="Logo">
    </div>
  </div>  

  <main class="page-content" aria-label="Content">
    <section class="content-container">
      <div class="content-wrapper">
        {{ content }}
      </div>
    </section>
  </main>

  <footer class="footer">
    <p>© 2024 VIXILE Studios Team.
      <span class="sep"></span>
      <a href="https://vixilestudios.github.io/">Home</a>
      <span class="sep"></span>
      <a href="https://vixilestudios.github.io/blog">Blog</a>
      <span class="sep"></span>
      <a href="https://github.com/vixilestudios">GitHub</a>
      <span class="sep"></span>
      <a href="https://vixilestudios.github.io/terms">Terms of Service</a>
    </p>
  </footer>
</body>
</html>
