<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Generic tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VIXILE Studios | Blog</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ site.url }}/stylesheet.css">
  <link rel="stylesheet" href="https://vixile.org/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="https://vixile.org/favicon.ico" sizes="63x147">
  <!-- Open Graph tags -->
  <meta property="og:title" content="VIXILE Studios">
  <meta property="og:description" content="Find news about VIXILE Studios here!">
  <meta property="og:image" content="https://vixile.org/assets/images/hero.webp">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:type" content="website">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar">
    <div class="logo">
      <a href="https://vixile.org/">
        <img src="https://vixile.org/assets/images/logo.webp" alt="Logo">
      </a>
    </div>
    <div class="links">
      <a href="https://blog.vixile.org/">
        <img src="https://vixile.org/assets/images/blog.webp" alt="Blog" class="blog">
      </a>
      <div style="min-width: 6rem;"></div>
    </div>
  </nav>
  <!-- Banner Image -->
  <div style="height: 3.5rem;"></div>
  <div class="outer-image">
    <img src="{{ site.url }}/assets/images/outer.png" alt="Banner">
    <div class="inner-image">
      <img src="{{ site.url }}/assets/images/inner.png" alt="Logo">
    </div>
  </div>  
  <main class="page-content" aria-label="Content">
    <section class="content-container">
      <div class="content-wrapper">
        {{ content }}
      </div>
    </section>
  </main>
  <!-- Footer -->
  <footer class="footer">
    <p class="footer-link"> © 2025 VIXILE Studios.
      <a class="footer-link" href="/">Home</a>
      <a class="footer-link" href="https://blog.vixile.org">Blog</a>
      <a class="footer-link" href="https://github.com/vixilestudios">GitHub</a>
      <a class="footer-link" href="https://vixile.org/terms.html">Terms of Service</a>
      <a class="footer-link" href="https://vixile.org/privacy.html">Privacy Policy</a>
    </p>
  </footer>
</body>
</html>
